{% set allowedips = [hvars['wg']['ip4'] + '/32', hvars['wg']['ip6'] + '/128'] %}
{% if hvars['is_wg_router'] %}
  {% set bogus = allowedips.extend(['10.0.69.0' + ip4_subnet, 'fd00:bad::0' + ip6_subnet]) %}
{% endif %}
{% if hvars['is_gateway_ip4'] and curhostvars['wg'].get('gateway_ip4', None) == host %}
  {% set bogus = allowedips.append('0.0.0.0/0') %}
{% endif %}
{% if hvars['is_gateway_ip6'] and curhostvars['wg'].get('gateway_ip6', None) == host %}
  {% set bogus = allowedips.append('::0/0') %}
{% endif %}
{{ allowedips | join(', ') }}

