{{ ansible_managed | comment }}

[NetDev]
Name = {{ wg_iface_name }}
Kind = wireguard
Description = WireGuard private network

{% set localhost = hostvars[inventory_hostname] -%}

[WireGuard]
PrivateKey = {{ localhost['wg']['privkey'] }}
{% if localhost['wg'].get('endpoint_port', None) %}
ListenPort = {{ localhost['wg']['endpoint_port'] }}
{% endif %}

{% for host in groups['all'] -%}
{% set remotehost = hostvars[host] %}
{% if host != inventory_hostname %}
{# Ensure hosts with dynamic IPs don't list each other in their configs #}
{% if localhost['headless'] or not localhost['headless'] and remotehost['headless'] %}
{# Ensure hosts with no IPv6 connectivity don't list IPv6-only hosts at all #}
{%
  if remotehost['headless'] and (
    localhost.get('has_output_ip4', False) and remotehost.get('public_ip4', None) or 
    localhost.get('has_output_ip6', False) and remotehost.get('public_ip6', None)
  ) or localhost['headless'] and (
    localhost.get('public_ip4', None) and remotehost.get('has_output_ip4', False) or 
    localhost.get('public_ip6', None) and remotehost.get('has_output_ip6', False)
  )
%}

# {{ host }}
[WireGuardPeer]
PublicKey = {{ remotehost['wg']['pubkey'] }}
AllowedIPs = {% include 'allowed_ips.j2' %}
{% if remotehost['wg'].get('endpoint_port', None) %}
{% if localhost['has_output_ip6'] and remotehost.get('public_ip6', None) %}
Endpoint = [{{ remotehost['public_ip6'] }}]:{{ remotehost['wg']['endpoint_port'] }}
{% elif remotehost.get('public_ip4', None) %}
Endpoint = {{ remotehost['public_ip4'] }}:{{ remotehost['wg']['endpoint_port'] }}
{% endif %}
{% endif %}
{% if localhost['wg'].get('keepalive', None) %}
PersistentKeepalive = {{ localhost['wg']['keepalive'] }}
{% elif remotehost['wg'].get('keepalive', None) %}
PersistentKeepalive = {{ remotehost['wg']['keepalive'] }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

{% if localhost['wg'].get('additional_peers', None) %}
## Additional peers
{% for name, peer in localhost['wg']['additional_peers'].items() %}
# {{ name }}
[WireGuardPeer]
PublicKey = {{ peer['pubkey'] }}
AllowedIPs = {{ peer['allowed_ips'] }}
{% if peer.get('endpoint', None) %}
Endpoint = {{ peer['endpoint'] }}
{% endif %}
{% if localhost['wg'].get('keepalive', None) %}
PersistentKeepalive = {{ localhost['wg']['keepalive'] }}
{% elif peer.get('keepalive', None) %}
PersistentKeepalive = {{ peer['keepalive'] }}
{% endif %}
{% endfor %}
{% endif %}
