{{ ansible_managed | comment }}

[Match]
Name = {{ wg_iface_name }}

{% set localhost = hostvars[inventory_hostname] -%}

[Link]
MTUBytes = {{ wg_mtu }}

[Network]
Address = {{ localhost['wg']['ip4'] }}{{ ip4_subnet }}
Address = {{ localhost['wg']['ip6'] }}{{ ip6_subnet }}
{% if wg_dns %}
DNS = {{ wg_dns }}
{% endif %}

# WireGuard routes

{% for host in groups['all'] %}
{% set remotehost = hostvars[host] -%}

### {{ host }}
# IPv4
[Route]
{% if remotehost['is_gateway_ip4'] and localhost['wg'].get('gateway_ip4', None) == host %}
Gateway = {{ remotehost['wg']['ip4'] }}
{% else %}
Destination = {{ remotehost['wg']['ip4'] }}
{% endif %}
# IPv6
[Route]
{% if remotehost['is_gateway_ip6'] and localhost['wg'].get('gateway_ip6', None) == host %}
Gateway = {{ remotehost['wg']['ip6'] }}
{% else %}
Destination = {{ remotehost['wg']['ip6'] }}
{% endif %}

{% endfor %}

{% if localhost['wg'].get('additional_peers', None) %}
## Additional peers
{% for name, peer in localhost['wg']['additional_peers'].items() %}
### {{ name }}
{% for ip in peer['allowed_ips'].replace(' ', '').split(',') %}
[Route]
Destination = {{ ip }}

{% endfor %}
{% endfor %}
{% endif %}
