{{ ansible_managed | comment }}

{% set curhostvars = hostvars[inventory_hostname] -%}

[Interface]
Address = {{ curhostvars['wg']['ip4'] }}{{ ip4_subnet }}, {{ curhostvars['wg']['ip6'] }}{{ ip6_subnet }}
DNS = 1.1.1.1
PrivateKey = {{ curhostvars['wg']['privkey'] }}
{% if curhostvars.get('wg_endpoint_port', None) %}
ListenPort = {{ curhostvars['wg_endpoint_port'] }}
{% endif %}

{% for host in groups['all'] %}
{% set hvars = hostvars[host] -%}
{% if curhostvars['headless'] or not curhostvars['headless'] and hvars['headless'] -%}

# {{ host }}
[Peer]
PublicKey = {{ hvars['wg']['pubkey'] }}
AllowedIPs = {% include 'allowed_ips.j2' %}
{% if hvars['wg'].get('endpoint_port', None) %}
{% if curhostvars['has_output_ip6'] and hvars.get('public_ip6', None) %}
Endpoint = [{{ hvars['public_ip6'] }}]:{{ hvars['wg']['endpoint_port'] }}
{% elif hvars.get('public_ip4', None) %}
Endpoint = {{ hvars['public_ip4'] }}:{{ hvars['wg']['endpoint_port'] }}
{% endif %}
{% endif %}
{% if curhostvars['wg'].get('keepalive', None) %}
PersistentKeepalive = {{ curhostvars['wg']['keepalive'] }}
{% elif hvars['wg'].get('keepalive', None) %}
PersistentKeepalive = {{ hvars['wg']['keepalive'] }}
{% endif %}
{% endif %}

{% endfor %}
